<a href="https://colab.research.google.com/github/austinchen413/Introduction-to-Computers/blob/main/aa.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [7]:
上底 = int(input("請輸入梯形上底長度:"))
下底 = int(input("請輸入梯形下底長度:"))
高 = int(input("請輸入梯形的高度:"))
面積 = (上底 + 下底) * 高/2
print("梯形上底長度為: ",上底,"公分,","梯形下底長度為: ",下底,"公分,","梯形高度為: ",高,"公分,","梯形面積為: ",面積,"平方公分")

請輸入梯形上底長度:5
請輸入梯形下底長度:4
請輸入梯形的高度:6
梯形上底長度為:  5 公分, 梯形下底長度為:  4 公分, 梯形高度為:  6 公分, 梯形面積為:  27.0 平方公分

In [8]:
身高 = float(input("請輸入您的身高(cm):"))
體重 = float(input("請輸入您的體重(kg):"))
bmi = (體重/((身高/100)**2))
print("身高 %d 公分, 體重 %d 公斤, BMI值為 %0.3f" %(身高,體重,bmi))

請輸入您的身高(cm):186
請輸入您的體重(kg):75
身高 186 公分, 體重 75 公斤, BMI值為 21.679

In [4]:
a = int(input("請輸入正整數: "))
if (a % 2) == 0:
   print(a,"為偶數!")
else:
   print(a,"為奇數!")
b = int(input("請輸入正整數: "))
if (b % 2) == 0:
   print(b,"為偶數!")
else:
   print(b,"為奇數!")

請輸入正整數: 41
41 為奇數!
請輸入正整數: 23
23 為奇數!

In [5]:
list11 = ["編號:1 姓名: Tom","編號:2 姓名: Mary","編號:3 姓名: Tony"]
for i in range(len(list11)):
  print(list11[i])

編號:1 姓名: Tom
編號:2 姓名: Mary
編號:3 姓名: Tony

In [6]:
for i in range(2,10):
  for j in range(1,10):
    product = i * j
    print("%d * %d = %2d" %(i,j,product),end = " ")
  print()

2 * 1 =  2 2 * 2 =  4 2 * 3 =  6 2 * 4 =  8 2 * 5 = 10 2 * 6 = 12 2 * 7 = 14 2 * 8 = 16 2 * 9 = 18
3 * 1 =  3 3 * 2 =  6 3 * 3 =  9 3 * 4 = 12 3 * 5 = 15 3 * 6 = 18 3 * 7 = 21 3 * 8 = 24 3 * 9 = 27
4 * 1 =  4 4 * 2 =  8 4 * 3 = 12 4 * 4 = 16 4 * 5 = 20 4 * 6 = 24 4 * 7 = 28 4 * 8 = 32 4 * 9 = 36
5 * 1 =  5 5 * 2 = 10 5 * 3 = 15 5 * 4 = 20 5 * 5 = 25 5 * 6 = 30 5 * 7 = 35 5 * 8 = 40 5 * 9 = 45
6 * 1 =  6 6 * 2 = 12 6 * 3 = 18 6 * 4 = 24 6 * 5 = 30 6 * 6 = 36 6 * 7 = 42 6 * 8 = 48 6 * 9 = 54
7 * 1 =  7 7 * 2 = 14 7 * 3 = 21 7 * 4 = 28 7 * 5 = 35 7 * 6 = 42 7 * 7 = 49 7 * 8 = 56 7 * 9 = 63
8 * 1 =  8 8 * 2 = 16 8 * 3 = 24 8 * 4 = 32 8 * 5 = 40 8 * 6 = 48 8 * 7 = 56 8 * 8 = 64 8 * 9 = 72
9 * 1 =  9 9 * 2 = 18 9 * 3 = 27 9 * 4 = 36 9 * 5 = 45 9 * 6 = 54 9 * 7 = 63 9 * 8 = 72 9 * 9 = 81

In [ ]:
total = 0
n = int(input())
for i in range(2,n + 1,2):
  total += i
print("0到%d的偶數和結果是%d" %(n,total))